.wrapper {
  min-height: 900px;
  background-size: cover;
  background-image: url(https://drupal8-prod.visitcalifornia.com/sites/drupal8-prod.visitcalifornia.com/files/styles/fluid_1920/public/2023-04/VC_SEO_Los-Angeles-Bakeries_Chaumont-Bakery-and-Cafe_HERO_SUPPLIED_1280x640.jpg.webp?itok=vNhkmlw-);
}

.form {
  border-right: 1px solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-7));
  min-height: 900px;
  max-width: 550px;
  padding-top: 80px;

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-family: Greycliff CF, var(--mantine-font-family);
}